<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FSE Workflow created</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Created WF</h1>
                <div class="mb-3 bg-light border rounded p-3">
                    <div>
                        Type: <b>{{.WorkflowName}}</b>, ID: <b>{{.GetID}}</b>, RunID:
                        <b>{{.GetRunID}}</b>, TaskQueue: <b>{{.TaskQueue}}</b>
                    </div>
                    <div>
                        Memo: {{.Memo}}
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/" class="btn btn-primary">Home</a>
                    <a href="/item?id={{.GetID}}" class="btn btn-primary">Open</a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>