<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FSE Workflow Item</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{.DisplayOrName}} &ndash; {{.CurrentState.DisplayOrName}}</h1>

                {{if not .Idle}}
                <div class="bg-warning text-white p-1">Currently in action!</div>
                {{end}}

                {{if not .TimerDeadline.IsZero}}
                <div class="bg-info text-white p-1">Timer deadline: {{.TimerDeadline | dt }}</div>
                {{end}}

                {{markdown .CurrentState.Description}}

                <div class="text-info mt-3">
                    Type: <b>{{.Name}}</b>, 
                    ID: <b>{{.ID}}</b>, 
                    RunID: <b>{{.RunID}}</b>,
                    TaskQueue: <b>{{.TaskQueue}}</b>
                </div>

                
                <form action="/trigger" method="POST">
                    <input type="hidden" name="id" value="{{.ID}}"/>
                    {{range .Triggers -}}
                    <div class="mb-3 mt-3 bg-light border rounded p-3">
                        {{markdown .Description}}
                        <button class="btn btn-small btn-secondary mr-2 mt-2" type="submit" name="trigger" value="{{.Name}}">{{.DisplayOrName}}</button>
                    </div>
                    {{end -}}
                </form>
            </div>

            <div class="col">
                <h1>{{.DisplayOrName}} ({{.Name}})</h1>
                {{markdown .Description}}

                <h2 class="mt-3">Environment</h2>
                {{range $k, $v := .Environment -}}
                <div>{{$k}} = {{$v}}</div>
                {{end -}}                    
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mt-3">
                    <a href="/" class="btn btn-primary">Home</a>                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>