<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FSE Workflows</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col">
                <h1>Running WFs</h1>
                {{range $i, $w := .OpenWorkflows}}
                <!--
                    &WorkflowExecutionInfo{
                        Execution:&v1.WorkflowExecution{
                            WorkflowId:_global,
                            RunId:98fca2b7-9b87-48df-96b1-6950262469f0,
                        },
                        Type:&v1.WorkflowType{
                            Name:Registry,
                        },
                        StartTime:&types.Int64Value{Value:1595874137375000000,XXX_unrecognized:[],},
                        CloseTime:nil,
                        Status:Unspecified,
                        HistoryLength:0,
                        ParentNamespaceId:,
                        ParentExecution:nil,
                        ExecutionTime:1595874137375000000,
                        Memo:&v1.Memo{Fields:map[string]*Payload{},},
                        SearchAttributes:&v1.SearchAttributes{IndexedFields:map[string]*Payload{},},
                        AutoResetPoints:nil,
                        TaskQueue:_registry,
                    }
                --> 
                <div class="mb-3 bg-light border rounded p-3">
                    <div>
                        Type: <b>{{.Type.Name}}</b>, 
                        ID: <b>{{.Execution.WorkflowId}}</b>, 
                        RunID: <b>{{.Execution.RunId}}</b>, 
                        TaskQueue: <b>{{.TaskQueue}}</b>
                    </div>
                    <div>gestartet: {{.StartTime | dt}}</div>
                    {{range $k, $p := .Memo.Fields -}}
                    <div>Memo {{$k}} = {{payload $p}}</div>
                    {{end -}}
                    {{range $k, $p := .SearchAttributes.IndexedFields -}}
                    <div>SearchAttribute {{$k}} = {{payload $p}}</div>
                    {{end -}}

                    <form class="mt-3" action="/terminate" method="POST">
                    {{if ne "_global" .Execution.WorkflowId}}
                        <a href="/item?id={{.Execution.WorkflowId}}" class="btn btn-primary">Open</a>
                    {{end}}
                        <input type="hidden" name="id" value="{{.Execution.WorkflowId}}"/>
                        <input type="hidden" name="runid" value="{{.Execution.RunId}}"/>
                        <input type="submit" class="btn btn-outline-primary" value="Terminate"/>
                    </form>
                </div>
                {{end}}
            </div>

            <div class="col">
                <h1>Creatable WFs</h1>
                {{range .Startables}}
                <div class="mb-3 bg-light border rounded p-3">
                    <h2>{{.Display}} ({{.WorkflowName}}@{{.TaskQueue}})</h2>
                    <p>
                        Option: {{.Option}}
                        Roles: {{range .Roles}}{{.}} {{end}}
                    </p>
                    <!-- <pre>{{.Description}}</pre> -->
                    {{markdown .Description}}
                    <form action="/create" method="POST">
                        <input type="hidden" name="WorkflowName" value="{{.WorkflowName}}"/>
                        <input type="hidden" name="Option" value="{{.Option}}"/>
                        <input type="hidden" name="TaskQueue" value="{{.TaskQueue}}"/>
                        ID: <input name="ID" value="12ADA345"/>
                        User: <input name="User" value="ich"/>
                        <input type="submit" value="Starten"/>
                    </form>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>